<h2> Create new celebrity</h2>
<form method="POST" action="/celebrities/create">
<input class="form-control" type="text" name="name">
<input class="form-control" type="text" name="occupation">
<input class="form-control" type="text" name="catchPhrase">
<button class="btn btn-primary" type="submit">SUBMIT</button>
</form>