<h2> New Movie</h2>/movies/new
<form method="POST" action="/movies/create">
<label> Title</label>
<input class="form-control" type="text" name="title">
<label> Genre</label>
<input class="form-control" type="text" name="genre">
<label>Plot  </label>
<input class="form-control" type="text" name="plot">
<label>Cast  </label>
<input class="form-control" type="text" name="cast">

<button class="btn btn-primary" type="submit">SUBMIT</button>
</form>

  